# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
     
      - name: Hugo setup
        uses: peaceiris/actions-hugo@v3.0.0
      
      - name: Deploy Website
        run: |
          git config --global user.email ''
          git config --global user.name 'Automated Builds from CI'
          ./deploy.sh 'Deploying Website to Production'

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public